<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><%= Config('app').name %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
</head>

<!-- <% var email_config = Config('application').email %> -->
<body>
	<table style="width:100%;">
		<tr>
			<td style="background:#eee; padding:70px 15px;">
				<table style="width:640px; margin: 0 auto;">

<!-- <body style="background:#efefef; margin:0; padding:0;">
  	<table width="80%" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; padding:5px;">
    	<tbody>
			<tr>
				<td align="center" valign="middle" bgcolor="#ffffff" style="padding:15px; margin:0; line-height:0; border-top:2px solid #1d1f4e; border-bottom:1px solid #1d1f4e;"><a target="_blank" href="#"><img src="<%= email_config.logo %>" alt="" style="border:0;" /></a></td>
			</tr>
			<tr>
				<td align="left" valign="top" bgcolor="#ffffff" style="color:#7b7b7b; margin:0;"> -->
					